@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Grotesk";
    src: url("/fonts/Grotesk/grotesk-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Grotesk";
    src: url("/fonts/Grotesk/grotesk-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Josefin";
    src: url("/fonts/Josefin/josefin-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --primary-background: rgb(246, 242, 232);
    --secondary-background: rgb(23, 22, 22);
    --accent: rgb(232, 61, 31);
  }

  @layer base {
    * {
      font-family: Grotesk, serif;
      font-size: 20px;
      line-height: 110%;
      box-sizing: border-box;
      transition: background-color 0.3s ease;
    }
  }
}
