---
import Form from "../components/ui/Form.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="This is the about page">
  <div class="p-10">
    <Form />
  </div>
</MainLayout>
