---
import { Image } from "astro:assets";
import Github from "../../assets/github.svg";
import Linkedin from "../../assets/linkedin.svg";
import Mail from "../../assets/mail.svg";

const logos = [
  {
    name: "Github",
    src: Github,
    link: "https://www.github.com/vasquez-esteban",
  },
  {
    name: "Mail",
    src: Mail,
    link: "mailto:vasquezperezesteban93@gmail.com",
  },
  {
    name: "Linkedin",
    src: Linkedin,
    link: "https://www.linkedin.com/in/esteban-vásquez-pérez-693062245",
  },
];
---

<section class="w-full p-[30px]">
  <div class="px-[15px] lg:px-[60px]">
    <div class="flex h-auto flex-col items-center md:justify-between">
      <ul class="flex gap-5">
        {
          logos.map((logo) => {
            return (
              <li>
                <a href={logo.link} target="_blank">
                  <Image src={logo.src} alt={logo.name} class="w-6" />
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
    <div class="mt-4 flex h-20 flex-col items-center">
      <span class="text-center"
        >@2024 Esteban Vásquez - All rights reserved</span
      >
    </div>
  </div>
</section>
