---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<div class="bg-primary sticky top-0 z-10 flex h-[74px] justify-center">
  <nav
    aria-label="Main Navigation"
    role="navigation"
    class="flex h-full w-full items-center justify-between"
    style="max-width: 1300px;"
  >
    <!-- Nav Menu -->
    <div id="navmenu" class="w-full flex items-center justify-center">
      <!-- Nav Links -->
      <ul>
        <li class="flex gap-[10vw]">
          <a class={currentPath === "" ? "font-bold text-accent" : ""} href="/"
            >home</a
          >
          <a
            class={currentPath === "works" ? "font-bold text-accent" : ""}
            href="/works">works</a
          >
          <a href="https://www.github.com/vasquez-esteban" target="_blank"
            >github</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- 
  Use to highlight the active link in the navigation bar
  Gotta test in dev and prod bc sometimes it doesn't work
---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav>
  <a class={currentPath === "" ? "active" : ""} href="/">Home</a>
  <a class={currentPath === "portfolio" ? "active" : ""} href="/portfolio">Portfolio</a>
  <a class={currentPath === "posts" ? "active" : ""} href="/posts">Article</a>
  <a class={currentPath === "about" ? "active" : ""} href="/about">About Me</a>
  <a class={currentPath === "contact" ? "active" : ""} href="/contact">Contact Me</a>
</nav>
-->
