---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<div class="bg-primary sticky top-0 z-10 flex h-[74px] justify-center">
  <nav
    aria-label="Main Navigation"
    role="navigation"
    class="flex h-full w-full items-center justify-between"
    style="max-width: 1300px;"
  >
    <!-- Nav Menu -->
    <div id="navmenu" class="w-full flex items-center justify-center">
      <!-- Nav Links -->
      <ul>
        <li class="flex gap-[10vw]">
          <a
            class={currentPath === ""
              ? "font-bold text-accent"
              : "hover:underline"}
            href="/">home</a
          >
          <a
            class={currentPath === "works"
              ? "font-bold text-accent"
              : "hover:underline"}
            href="/works">works</a
          >
          <a
            href="https://www.github.com/vasquez-esteban"
            target="_blank"
            class="hover:underline">github</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
